<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Mouse+Memoirs" rel="stylesheet">
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
      <h1>Adopt Don't Shop</h1>
      <h2>Adopt don't Shop is a motto that truly stands up for what it believes in, adopting loving, caring animals at shelters instead of buying ones from pet stores and puppy mills at ridiculous prices.  5 to 7 million pets enter animal shelters every year, while 3 to 4 million are euthanized.  Each year adoptable dogs and cats are killed in the United States simply because too many pets come into the shelters.  The number of animals being killed could be reduced dramatically if more people adopted pets instead of buying them.  When you adopt, you save a loving animal by making them apart of your family, welcoming them with open arms.</h2>
      <img src="http://az616578.vo.msecnd.net/files/2016/06/23/636023053545335050-545530653_689a51559de5dfcfb7f1421b7886b526.jpg" width="1500" height="400" align="center"> 
      <h3>When you adopt:
       <ul>
      <li>You are saving money. The cost of neuter/spay and first vaccinations is included in the adoption price, which can save you some of the up front costs of adding a new member to your family.</li><br>
      <img src="http://www.redbarninc.com/blog/wp-content/uploads/2015/12/dog-saving-money.jpg" align="center">
      <li>You are saving a life.  Once you have a pet purchased from a pet store, you are on your own.  Most pet stores don’t provide any support if you have questions or problems with your new pet. When you adopt you know what you are getting because the group has a history on the animal. </li><br>
      <img src="https://www.petfinder.com/wp-content/uploads/2015/09/hfh-cat-hero.jpg" align="center">
      <li>You get just as much love (if not more). An adopted pet is every bit as loving, intelligent and loyal as a purchased pet, even if you get an adult or older animal.</li><br>
      <img src="https://sd.keepcalm-o-matic.co.uk/i/keep-calm-and-adopt-don-t-shop-6.png" align="center"
      <li>You can get more than just dogs and cats at shelters, some shelters also have bunnies, guinea pigs, and farm animals!</li><br>
      <img src="http://www.spcaotago.org.nz/assets/Uploads/_resampled/ResizedImage424275-guinea-pig-rabbit.jpg" align="center">
      <li>The average age of dogs to enter shelters are 18 months old.</li><br>
      <img src="https://s-media-cache-ak0.pinimg.com/736x/18/b1/95/18b195ddf1f9ff05719c7cbecef558d9--baby-german-shepherds-german-shepherd-pups.jpg" align="center">
      <li>90% of dogs that enter into the shelters are healthy and ready to adopt!</li><br>
      <img src="https://s-media-cache-ak0.pinimg.com/736x/6a/50/ba/6a50ba9db7090269fbc64f7b9f7d1fab--samoyed-puppies-puppys.jpg" align="center">
      <li>There are many causes that help animals in shelters, such as "Clear the Shelters". Clear the Shelters is a cause to encourage people to adopt animals for a low cost or free.</li><br>
      <img src="http://www.clickallen.com/Clear-The-Shelters-Logo_Horz_Black-1000x231.png" align="center">
    </ul></h3>
    
      <h6>This web application was made by Clara Cabrera, Kylie Differding, and Molly Sweeney, Kode with Klossy Chicago 2017 Alumni</h6>
    
      
      
  </body>
</html>