<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Mouse+Memoirs" rel="stylesheet">
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <h1>You can check out this website to visit and learn about this shelter in your city!</h1><br> 
    <a href=<%=@url%>> Click here!<br> </a>
    
    <a href="https://www.petfinder.com/">Here's another reference to make an animal's life FURever</a></a>
    
   <img src="http://uploads.webflow.com/5420c77e5cfdafa12a5c0803/56b23fada29233ce7a356be9_labradoodle-adoption-5-puppies.jpg" width="400" height="400" align="center"> 
   <img src="https://media.mnn.com/assets/images/2017/06/senior-dog-flowers.jpg.653x0_q80_crop-smart.jpg" width="510" height="400" align="center">
   <img src="https://www.gannett-cdn.com/-mm-/0689a84c5b94e426db4d7a8fcb2871ee9a5d56a9/c=62-0-2190-1600&r=x404&c=534x401/local/-/media/2016/06/01/Salem/Salem/636003968862497652-SAL-DachshundDogAdoption-MJS-007.JPG" width="495" height="400" align="right">
   
   <form method="POST" action="/about">
      Want to learn more about adopting and how you can make a difference?<br>
    <input type="radio" name="user_answer" value="Yes"> Yes<br>
    <input type="radio" name="user_answer" value="Maybe later!"> Maybe later!<br>
  <input type="submit">
  </form>
   
  </body>
</html>